<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="clothes_storeEntities" connectionString="metadata=res://*/csEntities.csdl|res://*/csEntities.ssdl|res://*/csEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-LIRE0JUV;initial catalog=clothes_store;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>