@{
    ViewBag.Title = "About";
}
<h2>О платформе</h2>
<h3>@ViewBag.Message</h3>

<p>Данный интернет магазин предназначен для владельцев малого бизнеса, желающих начать продвигать свой бизнес в интернете.</p>
